@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@400;500;600&family=REM&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'REM', sans-serif;
}

.bar{
    background-color: #F8DE22;
}

@media (max-width: 990px){
    .bgcol{
        background-color: #E25E3E;
    }

    nav .nav-item a{
        color: aliceblue;
    }
}